services:
  locust-worker: &locust
    build: .
    volumes:
      - .:/app/
    env_file:
      - .env

  locust-master:
    <<: *locust
    ports:
      - "8089:8089"
      - "5557:5557"
    environment:
      - IS_MASTER=True
