# Project unique identifiers
ENKETO_FORM_UID=xxxx
FORM_UUID=f1111111aaaaa22222bbbbb3333
PROJECT_UID=aabc123
VERSION_UID=vabc123

# Auth
API_TOKEN=xyz123
DIGEST_USER=bob
DIGEST_PASS=changeme

# URLs
ENKETO_SUBDOMAIN=ee
KC_SUBDOMAIN=kc
KPI_SUBDOMAIN=kf
SCHEME=https
DOMAIN_NAME=kobotoolbox.org

# Locust
MASTER_IP=1.2.3.4
LOCUST_TAGS=tag1,tag2,tag3
